* {
    margin: 0;
}

header {
    text-align: center;
    font-size: 24px;
    font-family: "RalewayRegular";
    color: rgb(231, 227, 227);
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        /* bottom, image */
        url(../images/1625247802_33-kartinkin-com-p-transformeri-fon-krasivie-foni-33.jpg);
    background-size: cover;
}

img {
    width: 250px;
    border-radius: 400px;
    border: 5px solid rgb(11, 25, 229);
    margin: 40px 0px 0px 0px;
}

ul {
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
}

li {
    display: inline;
    padding: 10px;

}

a {
    color: rgb(231, 227, 227);
}
article {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}
h1 {
    font-size: 50px;
    color: rgb(231, 227, 227);
}
 h2 {
    font-size: 30px;
    color: aquamarine;
 }
p {
    font-size: 20px;
}
button {
    border: 5px solid grey;
    font-family: "RalewayRegular";
    border-radius: 20px;
    background-color: grey;
}

div {
    background: linear-gradient(180deg, #292929 0%, #a5c397 100%);
}

@media (max-width: 500px) {
    header {
        font-size: 18px;
    }
    h1 {
        font-size: 18px;
    }
    li {
        display: block;
    }

}






















@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/transformerssolidnormal.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}