@import url(https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap);


body {
    font-family: "Protest Riot", sans-serif;
    text-align: center;
    background-image: url(../images/40d90817da194d968766e00e34ff072a.jpeg);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

input {
    border: 0;
    padding: 15px;
    font-size: 20px; 
}

input[type="submit"] {
    background-color: rgb(165, 88, 238);
    color: rgb(11, 37, 28);
}